.profile-container {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile-info {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 75vh;
    width: clamp(300px, 30vw, 100vw);

    h1 {
        font-size: clamp(40px, 175%, 400%);
        padding: 0.5rem;
        border: 2px solid black;
        border-radius: 0.75rem;
        text-align: center;
        background-color: white;
        color: black;
        min-width: 268px;
        min-height: 60px;
    }

    h2 {
        font-size: 20px;
    }

    .date-info {
        display: flex;
        flex-direction: column;

        span {
            font-size: 75%;
            font-style: italic;
        }
    }
}

