.favorite, .not-favorite {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 100%;
    height: clamp(35px, 45px, 75px);
    width: clamp(35px, 45px, 75px);
    margin: 1%;
}

.favorite:hover, .not-favorite:hover {
    transition: 0.25s;
}