.dark-mode {
    transition: 0.5s;
    background-color: #475058;
    color: #ffffff;

    .department-div,
    .title-div,
    .author-div,
    .ellipses-btn {
        background-color: #8a959f;
    }

    .ellipses-btn {
        border: #00000000;
        color: #ffffff;
    }

    .ellipses-btn:hover {
        background-color: #778189;
    }

    .body-div {
        background-color: #898989;
    }

    .author-div,
    .body-div {
        a {
            color: #ffffff;
        }

        a:hover {
            transition: .25s;
            color: #e5e5e5;
        }
    }

    .profile-info {
        background-color: #898989;
    }

    body {
        background-color: #00000000;
        color: inherit;
    }
}