.favorite, .not-favorite {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 100%;
    height: clamp(35px, 45px, 75px);
    width: clamp(35px, 45px, 75px);
    transition: 0.5s;
    margin: 1%;
}

.not-favorite {
    color: white;
}

.favorite {
    color: yellow;
}

.favorite:hover {
    background-color: #9f9f9f;
    color: white;
}
.not-favorite:hover {
    background-color: #9f9f9f;
    color: yellow;
}